@import "reset"
@font-face
  font-family: 'Lato'
  src: url('../fonts/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato-bold-webfont.woff') format('woff')
  font-weight: 700
  font-style: normal
@font-face
  font-family: 'Lato'
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff')
  font-weight: 400
  font-style: normal

/* defaults */
$lato: 'Lato', sans-serif
$primary_color: #2DA1AD
$primary_color--hover: #206f7a
$default_color: #BBC4C3
$default_color--hover: #a6afae
$border_radius: 4px

*
  font-family: $lato
  font-size: 14px
  font-weight: 700
  line-height: 17px
  color: $default_color

.container
  width: 100%
  margin: 0 auto
  padding: 0 8px

/* font weight */
.f--bold
  font-weight: 700 !important
.f--regular
  font-weight: 400 !important

/* transitions */
.trans--06
    -webkit-transition: all 0.6s ease
    -moz-transition: all 0.6s ease
    -ms-transition: all 0.6s ease
    -o-transition: all 0.6s ease
    transition: all 0.6s ease
.trans--03
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -ms-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease

.visible-md, .visible-sm
  display: none

.pull-right--flex
  margin-left: auto !important

.invisible
  opacity: 0

.hidden
  display: none

hr
  border: 0
  border-top: 1px solid #2DA1AD
  margin: 16px 0 15px 0
  width: 100%
.hralt
  margin: 16px 0 0 0

button
  cursor: pointer

/* buttons */
.button
  display: inline-block
  height: 42px
  text-align: center
  padding: 13px 30px
  color: #ffffff
  -webkit-border-radius: 42px
  -moz-border-radius: 42px
  border-radius: 42px
  flex: 1
  margin: 0 3px
  text-decoration: none !important
  @extend .trans--06
  &__group
    display: flex
    width: 100%
    justify-content: space-between
    margin: 60px -3px 33px -3px
  &--default
    background-color: #BBC4C3
    &:hover
      background-color: $default_color--hover
  &--primary
    background-color: $primary_color
    &:hover
      background-color: $primary_color--hover
  &__save
    & span
      display: block
      color: #fff
      @extend .trans--03
      &:last-child
        -webkit-transform: translateY(20px)
        -moz-transform: translateY(20px)
        -ms-transform: translateY(20px)
        -o-transform: translateY(20px)
        transform: translateY(20px)
        opacity: 0
        pointer-events: none
    &--saved
      span
        -webkit-transform: translateY(-20px)
        -moz-transform: translateY(-20px)
        -ms-transform: translateY(-20px)
        -o-transform: translateY(-20px)
        transform: translateY(-20px)
        opacity: 0
        &:last-child
          -webkit-transform: translateY(-17px)
          -moz-transform: translateY(-17px)
          -ms-transform: translateY(-17px)
          -o-transform: translateY(-17px)
          transform: translateY(-17px)
          opacity: 1
.buttonadd
  $self: &
  display: flex
  align-items: center
  font-weight: 400
  font-size: 14px
  color: $primary_color
  margin: 15px 0 0 0
  &:hover
    #{$self}__imgwrap
      background-color: $primary_color
  &:hover
    #{$self}__img
      filter: brightness(0) invert(1)
  &__imgwrap
    display: flex
    width: 29px
    height: 29px
    align-items: center
    justify-content: center
    border: 1px solid $primary_color
    margin: 0 15px 0 0
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    @extend .trans--06
  &__img
    width: 8px
    height: 8px
    @extend .trans--03

/* header */
.header
  background-image: linear-gradient(182.65deg, #78C9CE 0%, #2496A2 99.98%, #2496A2 100%)
  height: 50px
  border-bottom: 7px solid rgba(255,255,255,0.3)
  display: flex
  justify-content: center
  align-items: center
.logo
  display: block
  width: 149px
  &__img
    display: block
    width: 100%

/* filter */
.filter
  margin: 0 25px 25px 25px
  border-bottom: 1px solid #2DA1AD
  display: flex
  align-items: center
  padding: 16px 0
  max-width: 540px
  &__item
    flex: 1
    cursor: pointer
    & + &
      border-left: 1px solid #BBC4C3
    &--active
      color: $primary_color

/* search */
.search
  margin: 0 25px 25px 25px
  &__input
    width: 100%
    max-width: 540px
    height: 50px
    border: 1px solid #EAEAEA
    background: #fff no-repeat url("../images/icon-search.svg") center left 25px / 17px 18px
    -webkit-border-radius: $border_radius
    -moz-border-radius: $border_radius
    border-radius: $border_radius
    box-shadow: 0 2px 34px 0 #E3E3E3
    padding: 0 0 0 67px
    outline: none !important
    margin: 0 auto
    display: block
    color: $primary_color

/* button add */
.btnadd
  display: flex
  align-items: center
  text-decoration: none !important
  width: 100%
  border: 1px dashed #2DA1AD
  -webkit-border-radius: $border_radius
  -moz-border-radius: $border_radius
  border-radius: $border_radius
  text-align: left
  height: 60px
  color: #2DA1AD
  background: url("../images/icon-add.svg") no-repeat center left 25px / 18px 18px
  padding: 0 0 0 61px
  opacity: 0.5
  margin: 0 0 10px 0
  font-size: 16px
  @extend .trans--06
  &:hover
    background-color: #ebebeb

/* contact list */
.contactlist
  &__item
    border: 1px solid rgba(187, 196, 195, 0.4)
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    display: flex
    align-items: center
    margin: 0 0 10px 0
    height: 60px
    padding: 0 16px 0 16px
  &__imgwrap
    border: 3px solid #eaeded
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    overflow: hidden
    width: 40px
    height: 40px
    margin: 0 25px 0 0
    background: rgba(45, 161, 173, 0.4) no-repeat center center / cover
    position: relative
  &__img
    width: 100%
  &__col
    flex: 3
    display: flex
    align-items: center
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    text-decoration: none !important
  &__col:last-child
    flex: 2
    justify-content: flex-end
  &__button
    @extend .trans--06
    margin: 0 0 0 33px
    cursor: pointer
  &__title
    flex: 1
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    min-width: 0

/* top nav */
.topnav
  display: flex
  justify-content: flex-end
  align-items: center
  height: 51px
  padding: 0 30px
  border-bottom: 1px solid rgba(187, 196, 195, 0.4)
  &__button
    margin: 0 0 0 34px
    &:first-child
      margin: 0 auto 0 0
  &__img
    &--back
      width: 16px
    &--text
      margin: 0 0 0 16px

/* contact details */
.contact
  position: relative
  margin: 0 auto
  max-width: 830px
  &__item
    margin: 0 0 0 26px
  &__heading
    display: flex
    align-items: center
    border-bottom: 1px solid #2DA1AD
    padding: 21px 0
    margin: 0 0 24px 0
  &__title
    font-size: 21px
  &__imgwrap
    width: 56px
    height: 56px
  &__label
    font-size: 16px
    color: $primary_color
    display: flex
    align-items: center
    margin: 0 0 22px 0
    &--email
      margin: 0 0 12px 0
  &__labelimg
    width: 15px
    margin: 0 9px 0 0
  &__infowrap
    padding: 0 0 0 24px
  &__info
    display: flex
    margin: 0 0 29px 0
  &__infoval
    flex: 4
    font-size: 16px
    font-weight: 400
    &--email
      text-decoration: none
  &__infolabel
    flex: 2
    text-transform: uppercase
  & .topnav__button
    margin: 0 0 0 44px
  &__imgwrap + .topnav__button
    margin: 0 20px 0 9px
    & .topnav__img--back
      width: 20px

/* form */
::-webkit-input-placeholder
  color: #BBC4C3
::-ms-input-placeholder
  color: #BBC4C3
::placeholder
  color: #BBC4C3
.form
  $self: &
  padding: 0 17px
  &__heading
    margin: 0 0 17px 0
  &__imgwrap
    width: 156px
    height: 156px
    margin: 0 auto
  &__label
    display: block
    padding: 0 8px
    width: 100%
    margin: 0 0 16px 0
  &__group
    margin: 0 -8px
    display: flex
    flex-wrap: wrap
  &__col
    padding: 0 8px
    display: flex
    width: 100%
    align-items: center
    margin: 0 0 10px 0
    flex-wrap: wrap
  &__control
    height: 50px
    -webkit-border-radius: $border_radius
    -moz-border-radius: $border_radius
    border-radius: $border_radius
    border: 1px solid rgba(187, 195, 196, 0.4)
    padding: 0 25px
    font-weight: 400
    color: #BBC4C3
    flex: 1
    outline: none !important
    min-width: 0
    @extend .trans--06
  &__removebtn
    width: 31px
    height: 31px
    min-width: 31px
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid rgba(187, 195, 196, 0.5)
    margin: 0 0 0 19px
    @extend .trans--06
  &__removeimg
    width: 8px
    height: 8px
    filter: brightness(0)
    opacity: 0.3
    @extend .trans--06
  &__numberwrap
    display: flex
    flex-wrap: wrap
    width: 100%
    &--hovered
      & #{$self}__control
        border: 1px solid $primary_color
      & #{$self}__removebtn
        border-color: $primary_color
      & #{$self}__removeimg
        filter: brightness(1)
        opacity: 1
  &__controlimg
    visibility: hidden
  &__imglabel
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: url("../images/icon-upload.svg") no-repeat center center / 21px 21px
    cursor: pointer
  &__imgremove
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(0, 0, 0, 0.4)
    @extend .trans--06
    &:hover
      background: rgba(0, 0, 0, 0.6)
      &:before
        -webkit-transform: rotate(225deg)
        -moz-transform: rotate(225deg)
        -ms-transform: rotate(225deg)
        -o-transform: rotate(225deg)
        transform: rotate(225deg)
    &:before
      content: " "
      display: block
      width: 12px
      height: 12px
      position: absolute
      top: 50%
      left: 50%
      margin: -6px 0 0 -6px
      background: url("../images/icon-add.svg") no-repeat center center / contain
      filter: brightness(0) invert(1)
      @extend .trans--03

/* modal */
.modal
  $self: &
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: rgba(0, 0, 0, 0.4)
  z-index: 999
  visibility: hidden
  opacity: 0
  pointer-events: none
  @extend .trans--03
  &--opened
    visibility: visible
    opacity: 1
    pointer-events: auto
    & #{$self}__dialog
      -webkit-transform: translate(-50%, -50%) scale(1)
      -ms-transform: translate(-50%, -50%) scale(1)
      transform: translate(-50%, -50%) scale(1)
  &__dialog
    position: absolute
    top: 50%
    left: 50%
    background-color: #fff
    width: 315px
    max-width: 100%
    -webkit-transform: translate(-50%, -50%) scale(0.75)
    -ms-transform: translate(-50%, -50%) scale(0.75)
    transform: translate(-50%, -50%) scale(0.75)
    -webkit-border-radius: $border_radius
    -moz-border-radius: $border_radius
    border-radius: $border_radius
    box-shadow: 0 0 14px 0 rgba(99, 109, 255, 0.27)
    @extend .trans--03
  &__heading
    padding: 20px 30px
    border-bottom: 1px solid #DCDCDC
  &__content
    font-weight: 400
    text-align: center
    padding: 30px 60px 50px 60px
    & p
      font-weight: inherit
  &__footer
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0 30px 14px 30px
    & .button
      min-width: 160px
      margin: 0 0 16px 0
      flex: none
  &__title
    font-size: 16px


/* media queries */
@media(min-width: 540px)

  /* buttons */
  .button
    min-width: 160px
    flex: none

  /* filter */
  .filter
    margin: 0 auto 25px auto

  /* form */
  .form
    &__col
      width: 50%
      &--block
        width: 100%

/* media queries */
@media(min-width: 768px)

  .visible-sm
    display: block
    &--flex
      display: flex

  /* buttons */
  .button
    &__group
      margin: 92px -3px 33px -3px

  /* top nav */
  .topnav
    display: none

  /* btn add */
  .btnadd
    display: block
    height: 150px
    text-align: center
    padding: 82px 0 0 0
    background-position: center top 52px

  /* contact list */
  .contactlist
    display: flex
    flex-wrap: wrap
    margin: 0 -8px
    $contactlist: &
    & > li
      width: 33.3333333333%
      padding: 0 8px
    &__item
      height: 150px
      padding: 26px 16px
      display: block
      position: relative
      &:hover #{$contactlist}__button
        opacity: 1 !important
    &__imgwrap
      margin: 0 auto 19px auto
      width: 60px
      height: 60px
    &__col
      flex: auto
      width: 100%
      display: block
      text-align: center
      &:last-child
        position: absolute
        top: 15px
        right: 18px
        left: 18px
        width: auto
        display: flex
        .contactlist__button
          margin: 0 0 0 26px
          opacity: 0
          &:first-child
            margin: 0 auto 0 0
            opacity: 1
    &__title
      font-size: 18px

  /* contact details */
  .contact
    margin: 60px auto 0 auto
    padding: 0 0 0 210px
    &__imgwrap
      width: 186px
      height: 186px
      position: absolute
      top: 0
      left: 0
    &__heading
      padding: 30px 0 27px 0
      margin: 0 0 64px 0
    &__title
      font-size: 28px
      line-height: 34px
    &__info
      margin: 0 0 40px 0
    &__item
      margin: 0 0 30px 26px
      display: flex
      align-items: flex-start
    &__label
      flex: 1
    &__infowrap
      flex: 4

  /* form */
  .form
    $self: &
    padding: 0
    &__heading
      margin: 0 0 18px 0
    &__group
      margin: 0 -8px
    &__label
      flex: none
      margin: 0 0 21px 0
    &__control
      height: 60px
      &--hovered
        & #{$self}__control
          border: 1px solid $primary_color

  hr
    margin: 20px 0 18px 0
  .hralt
    margin: 20px 0 0 0

  /* modal */
  .modal
    &__dialog
      width: 480px
    &__content
      padding: 30px 30px 50px 30px
      & p
        font-size: 16px
    &__footer
      justify-content: space-between

@media(min-width: 992px)
  .visible-md
    display: block

  /* form */
  .form
    &__group
      margin: 0 -15px
    &__col
      padding: 0 15px
    &__label
      padding: 0 15px

@media(min-width: 1260px)

  .container
    width: 1200px
    padding: 0 15px

  /* header */
  .header
    height: 60px

  /* filter */
  .filter
    margin: 0 auto 60px auto
    padding: 51px 0
    max-width: 1260px
    &__item
      text-align: right
      padding: 0 30px
      font-size: 18px
      &:last-child
        text-align: left

  /* search */
  .search
    margin: 0 25px 60px 25px

  /* contact list */
  .contactlist
    display: flex
    flex-wrap: wrap
    margin: 0 -15px
    $contactlist: &
    & > li
      width: 25%
      padding: 0 15px
    &__item
      margin: 0 0 30px 0
      -webkit-transition: all 0.3s ease
      -moz-transition: all 0.3s ease
      -ms-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      transition: all 0.3s ease
      &:hover
        border-color: #2DA1AD

  /* contact details */
  .contact
    &__item
      margin: 0 0 30px 66px

  /* form */
  .form
    &__group
      margin: 0 -15px

